.topnav{
    /*NOTE DO NOT ADD PADDING TO THIS UNLESS YOU WANT GIANT BUTTONS */
      background-color: black;/* here are some alt color codes FF0000, 800080, FFC000 */
/*      position: fixed; */
      position: static;
      color: white;
    }
    
    div {
      padding: 0% !important;
      background-color: black;
      position: sticky;
      top: 0;
    }
    
    a {
        text-decoration: none;
        color: white;
        font-family: Arial Unicode MS;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
  
  .profile {
    height: 5%;
    width: 5%;
    float: left;
  }
  
  html {
    background-color: gray;
    background-image: url("img/sitebg.png");
    background-repeat: repeat;
    background-size: cover;
  
  }

  .frontpage {
    background-image: url(MS-FP98\images\Textures\Water.jpg) !important;
    background-repeat: repeat;
    background-size: cover;
  }

  h4{
    color: white;
    font-family: comic sans ms, verdana, geneva, tahoma, sans-serif;
  }
  
  h1{
    color: white;
    font-family: comic sans ms, verdana, geneva, tahoma, sans-serif;
  }
  
  q{
    color: white;
    font-family: comic sans ms, verdana, geneva, tahoma, sans-serif;
  }
  
  h2{
    color: white;
    font-family: comic sans ms, verdana, geneva, tahoma, sans-serif;
  }
  
  .mailto:hover {
    filter: drop-shadow(3px 3px red ) drop-shadow(-3px -3px blue) ;
  }
  
  p{
    color: white;
    font-family: comic sans ms, verdana, geneva, tahoma, sans-serif;
  }
  
  a{
    color: white;
    font-family: comic sans ms, verdana, geneva, tahoma, sans-serif;
  }
  
  body {
    padding: 5px;
    margin: 0;
  }
  
  
  /* Weird names bec.use this part was grabbed from a site I made in 6th grade */
  
  
  .tinyPicture {
    background-color: gray;
    display:flex
  
  }
  .sdk {
    width: 100px;
    height: 15%;
    border: 2px solid #F0FFFF;
    box-sizing: border-box;
    background-color: grey;
    display:flex
  }
  
  section {
    float: left;
    margin: 0 1.5%;
    width: 30%;
    background-color: #F0FFFF
    box-sizing: border-box;
  }
  
  footer {
    position: absolute;
    bottom: 0;
  }
  /* old code ends here */
  
  .profile_emp {
    height: 2%;
    width: 2%;
    float: left;
    padding-top: 10px;
  }
  
  .terminated {
    color: red;
    text-decoration: line-through;
  }
  
  hr {
    border: 1px solid transparent;
  }
  
  .lgrad {
    float: left;
    height: 15%;
    width: 15%;
  }
  
  small{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /*.logo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }
  */
  
  #clock {
    color: black;
    background-color: transparent; !important
  }

  .bottom {
    bottom: 0;
  }