body {
    background: black;
    font-family: Comic Sans MS
  }
  p {
    color: silver;  
  }
  
  marquee { 
    color: white;
  }
  
  h1 {
    color: gold;
  }
  
  marquee {
    color: gold;
  }
  
  nav ul {
    
    background-color: tomato;
    border-style: solid;
    border-color: mediumvioletred;
    border-width: 2px;
    border-radius: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
  }
  